git+https://github.com/hockbhmv/yotube 
git+https://github.com/subinps/VCPlayerBot
pyrogram
tgcrypto
youtube_search
youtube_search_python
requests
pyromod
pytube
tswift 
lyricsgenius==3.0.1
#==========
motor==2.4.0
tgcrypto==1.2.2
pymongo[srv]==3.11.4
#==========
#forcheck vsong 
aiofiles
aiohttp
search_engine_parser

wget

ffmpeg-python
future

