git+https://github.com/hockbhmv/yotube 
git+https://github.com/DEADF00D/pytube.git
pyrogram
tgcrypto
youtube_search
youtube_search_python
requests
pyromod
tswift 
lyricsgenius 
pymongo[srv]==3.12.3
motor==2.5.1
tgcrypto==1.2.2
aiofiles
aiohttp
search_engine_parser 
wget 
ffmpeg-python
future
