youtube_dl
pyrogram
tgcrypto
youtube_search
youtube_search_python
requests
pyromod
pytube
tswift
#==========
motor==2.4.0
#==========
#forcheck vsong 
aiofiles
aiohttp
search_engine_parser

wget

ffmpeg-python
future

